<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
 
    <title>회원 가입</title>
</head>
<body>
<form name="member" method="post" action="/member_info_reg_model/" align="center">
    <table width="940" style="padding:5px 0 5px 0; ">
        <tr height="2" bgcolor="#FFC8C3"><td colspan="2"></td></tr>
        <tr>
            <th>이름</th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th>주소</th>
            <td><input type="text" name="address"></td>
        </tr>
        <tr>
            <th>e-mail</th>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <th>password</th>
            <td><input type="password" name="password"></td>
        </tr>
        <tr height="2" bgcolor="#FFC8C3"><td colspan="2"></td></tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" style="color: #fff; background:blue; font-size:1em; border-radius:0.5em; padding:5px 20px;" onclick="alert('회원 등록 완료!');" value="회원가입">
            </td>
        </tr>
    </table>
</form>
</body>
</html>
