<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
 
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인</h1>
<form name="login" method="post" action="/login_db/">
    <table width="940" style="padding:5px 0 5px 0; ">
        <tr height="2" bgcolor="#FFC8C3"><td colspan="2"></td></tr>
        <tr>
            <th>아이디</th>
            <td><input type="text" name="id"></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td><input type="password" name="password"></td>
        </tr>
            <td colspan="2" align="center">
                <input type="submit" style="color: #fff; background:blue; font-size:1em; border-radius:0.5em; padding:5px 20px;" value="로그인">
            </td>
        </tr>
    </table>
</form>
</body>
</html>